@font-face {
    font-family:'Beyno';
    src: url('./font/beyno/FontsFree-Net-BEYNO.ttf');
    
}
@font-face {
    font-family:'Panthera';
    src: url('./font/panthera/Panthera/Regular.otf');
}
@font-face{
    font-family: 'Wakanda-forever';
    src: url('./font/wakanda_forever/WakandaForever-Regular.ttf');
}
@font-face{
    font-family: 'Cantarell';
    src: url('./font/cantarell/cantarell-regular_[fr.allfont.net].ttf');
}
body
    {
        color:#ffffff ;
        background: radial-gradient(126.67% 350.28% at -21.35%
        0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64,
        0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: auto;
    }

/*MISE EN FORM HEADERù*/
/*logo Marvel*/
.Marvel
    {
        width: 32%;
        height: 30%;
    }
.Sayna
    {
        width: 15%;
        height: 15%;
    }

.navbar
    {
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        margin: 0 auto;
       
    }


/*liein dans navbar*/
 /* change la couluer du logo lors de passage de la souris*/
 .navbar .Sayna:hover,
 .navbar .logox:hover,
 .navbar .Marvel:hover
    {
        -webkit-filter: invert(4%)sepia(100%)saturate(10%)hue-rotate(352deg)brightness(1600%)contrast(1200%);
        filter:invert(4%)sepia(100%)saturate(10%)hue-rotate(352deg)brightness(1600%)contrast(1200%);
    }

.navbar .nav-link ul
    {
        display: flex;
    }
    
.navbar .nav-link ul li
    {
        margin:   0 25px;
        display: flex;
    }

.navbar .nav-link a
    {
       
        color: #9E91B7;
        font-weight:200;
        font-size: 14px;
        
    }
.navbar .nav-link a:hover
    {
        color: #ffffff;
        font-weight:200;
        font-size: 14px;
        
    }
 /* change la couleur du logo en blanc*/
.navbar .logos .Sayna, .navbar .logos .logox, .navbar .logos .Marvel
    {
    
        -webkit-filter: invert(94%)sepia(80%)saturate(16000%)hue-rotate(1000deg)brightness(100%)contrast(90%);
        filter:invert(94%)sepia(80%)saturate(16000%)hue-rotat(909deg)brightness(109%)contrast(90%); 
    
    }
/* change la couleur du logo lors de passage de la souris*/
.navbar .logos .Sayna:hover, .navbar .logos .logox:hover, .navbar .logos .Marvel:hover
    {
        
        -webkit-filter: invert(94%)sepia(80%)saturate(16000%)hue-rotate(1009deg)brightness(100%)contrast(90%);
        filter:invert(94%)sepia(80%)saturate(16000%)hue-rotat(1009deg)brightness(109%)contrast(90%); 
    
    }

/* mise en forme de la section 1  accueil*/
/*premier bar a gauche */
.bar1
    {
        position:absolute;
        float: left;
        left: 1.2%;
        height: 40%;
        border-left: 1px solid #f2cef2;
    }

/*deuxieme  bar a gauche*/
.bar2
    {
        position:absolute;
        float: left;
        left: 4%;
        height: 20%;
        border-left: 1px solid #f2cef2;
    }

#liencote 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left:3%;
    top: 22%;
}
/* change la couluer de logo des reseau socio à gauche */
#liencote .liencotefb,
#liencote .liencoteig,
#liencote .liencotetw,
#liencote .liencotetik
    {
        -webkit-filter: invert(4%)sepia(100%)saturate(10%)hue-rotate(352deg)brightness(1600%)contrast(1200%);
        filter:invert(4%)sepia(100%)saturate(10%)hue-rotate(352deg)brightness(1600%)contrast(1200%); 
    }
  /*change la couleur du logo de reseau socio qui se trouve en haut à gauche*/
#liencote .liencotefb:hover,
#liencote .liencoteig:hover,
#liencote .liencotetw:hover,
#liencote .liencotetik:hover
    {
        -webkit-filter: invert(94%)sepia(100%)saturate(16000%)hue-rotate(302deg)brightness(100%)contrast(90%);
        filter:invert(94%)sepia(100%)saturate(16000%)hue-rotat(302deg)brightness(109%)contrast(90%); 
        
    }
     /*animation de l'element dans la section heros*/
@keyframes animate
    {
        0%{transform: translateX(-100%);}
        100%{transform: translateX(0%);}
    }
    
.parag1sec1:nth-child(1)
    {
        animation-delay: .1s;
    }

.description1
    {
        left:35%; 
        animation: animate 3s ;
        color: #ffffff;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        padding: 0 auto;
        width: 80%; 
        justify-content: center;
        align-items: center;
       
    }
    
.description1 h1
{
    font-family: 'Panthera';
    font-size: 32px;
    color: #9E91B7;
    text-align: left;
}
.description1 h2
{
    font-family: 'Beyno';
    text-align: left;
    color: #9E91B7;
    font-size: 16px;
}
.description1 p
{
    font-family: 'Cantarell';
    font-size: 12px;
}


.container-pantherahome1{
    display: flex;
}

.Pantherhome1
    {
        width: 100%;
        height: 100%;
        margin-right: 20px;
        
    }
    /* mise ne forme de l'image  pantherhome2*/
.Pantherhome2
    {
        position: relative;
        width: 80%;
        height: 80%;
        margin: 0%;
        padding: 0%;
        
    }
    /* mise ne forme de l'image  pantherhome2 lors de passage du souris*/
.Pantherhome2:hover
    {
        transform: scale(1.08);
        width: 80%;
    
    }

.section-killmonger
    { 
        width: 40%;
        margin: 0%;
        padding: 0%;
        text-align: left;
         
    }
.section-killmonger h2
    {
        font-family: 'Beyno';
        font-size: 16px;
        text-align: left;
    }
.parag-killmonger
    {
        width: 96%;
        font-size: 12px;
        font-family: 'Cantarel';
        text-align: justify;
        padding: 0%;
        margin: 0%;
     }

.Pantherhome3
    {
        width: 100%;
        height: 100%;
     
    }
.Pantherhome3:hover
    {
        transform: scale(1.08);
        width: 100%;
      
    }

.section-okoye
    {
        width: 40%;
        margin: 0%;
        padding: 0%;
        text-align: left
    }
.section-okoye h2
    {
        font-family: 'Beyno';
        font-size: 16px;
        text-align: left;
        color:#9E91B7;
        padding-left: 10px;
    }

.parag-okoye
    {
        width: 80%;
        font-size: 12px;
        text-align: justify;
        padding-left: 12px;
        margin: 0%;
    }

.Pantherhome4
    {
        width: 100%;
        height: 100%; 
        padding: 0%; 
        margin: 0%; 
    }
.Pantherhome4:hover
    {
        transform: scale(1.08);
        width: 100%;
      
    }
 /* MISE EN FORM SECTION2 */

#section2
{
    width: 80%;
   margin: 50px auto;
    align-items: center;
    height: 100%;
   
    display: flex;
    padding-top: 5%;
    justify-content: center; 
    
}

#text
    {
        padding: 0 auto ;
        margin: 0;
    }
#naissanceprince h2
{
    font-family: 'Beyno';
    color: #9E91B7;
    font-size: 16px;
    text-align: left;
}
#naissanceprince .paragraphe1naissanceprince,
#naissanceprince .paragraphe2naissanceprince
    {
        font-family: 'Cantarell';
        font-size: 12px;
        width: 85%;
        text-align: justify;
        color: #ffffff;
        

    }
#naissanceprince .paragraphe3naissanceprince
    {
        font-family: 'Cantarell';
        font-size: 14px;
        width: 85%;
        text-align: justify;
        color: #ffffff;
        
    }

#herovengeur h2
    {
        font-family: 'Beyno';
        color: #9E91B7;
        font-size: 16px;
        text-align: left;
    }

#herovengeur .paragraphe1herovangeur,
#herovengeur .paragraphe2herovangeur,
#herovengeur .paragraphe3herovangeur,
#herovengeur .paragraphe4herovangeur
    {
        font-family: 'Cantarell';
        font-size: 12px;
        width: 85%;
        text-align: justify;
        color: #ffffff;
        
    }
  
    #heroprotecteur h2
        {
            
        font-family: 'Beyno';
        color: #9E91B7;
        font-size: 16px;
        text-align: left;
        }
    #heroprotecteur .paragraph1heroprotecteur,
    #heroprotecteur .paragraph2heroprotecteur,
    #heroprotecteur .paragraph3heroprotecteur
        {
            font-family: 'Cantarell';
            font-size: 12px;
            width: 85%;
            text-align: justify;
            color: #ffffff;
        }

.imagepantherhome5{
        width: 25%;
        position:absolute;
         top: 118%;
         right: 13%;
}
#response
{
    margin-top: -140%;
    background:#ffffff;
    color: #000;
    width: 280px;
    padding: 40px 15px;
    border-radius: 8px;
    font-size: 8px;
    font-family: 'Cantarell';
}

.titrepantherhome5{
    margin-top: 150px;
    text-align: center;
    font-size: 14px;
}

.imagepantherhome6
    {
        width: 100%;
        margin-top: 20%;
    }

/* mise ne forme de la partie wakanda*/
.wakanda
    {
       background-image: url(Assets/Wakanda/Pantherwakanda1.png);
       background-position: 100%;
       background-position-x:center;
       background-size: 100%;
       width: 100vw;
       height: 100vh;
    }
 .section1wakanda
 {
    padding: 0;
    margin: 0;
 }

 @keyframes animate
    {
        0%{transform: translateX(-100%);}
        100%{transform: translateX(0%);}
    }
    
.titrewakanda
    {  
        text-align: justify;
        padding-top: 20%;
    }

.section1wakanda
    {
        left:35%; 
        animation: animate 3s ;
        color: #ffffff;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        padding: 0 auto;
        width: 80%; 
        justify-content: center;
        align-items: center;
       
    }
.titrewakanda h1
{
    font-family: 'Beyno';
    font-size: 30px;
    color: #9E91B7;
    
}
.titrewakanda .wakandaforever
    {
        font-size: 16px;
        font-family: 'Wakanda-forever';
        color: #9E91B7;
       
    }
.section1wakanda .paragraphwakanda
    {
        width: 50%;
        text-align: justify;
        font-size: 12px;
        font-family: 'Cantarell';
        text-align: left;
    }

.containerwakanda
    {
        padding-top: 50px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-image: url(Assets/Wakanda/Pantherwakanda2.png);
        background-repeat: no-repeat;
        background-size: 80%; 
   
    }
.containerwakanda .partie1wakanda .origine h2 
  {
    margin-left: 6px;
    font-size: 16px;
    font-family: 'Beyno';
    color:#9E91B7
}
.containerwakanda .partie1wakanda .origine p
{
    
    font-size: 12px;
    font-family: 'Cantarell';
    text-align: justify;
    margin: 10px ;
    color:#ffffff;
    box-sizing: border-box;
    width:90%;
}
.cinemawakanda h2
    {
        font-size: 16px;
        font-family: 'Beyno';
        color:#9E91B7;
        margin-left: 6px;
    }
.cinemawakanda p 
    {
        font-size: 12px;
        font-family: 'Cantarell';
        text-align: justify;
        margin: 10px ;
        color:#ffffff;
        box-sizing: border-box;
        width:90%;
    }

.partie2wakanda .culte h2 
    {
      margin-left: 7px;
      font-size: 16px;
      font-family: 'Beyno';
      color:#9E91B7
  }

  .partie2wakanda p 
  {
      font-size: 12px;
      font-family: 'Cantarell';
      text-align: justify;
      margin: 10px ;
      color:#ffffff;
      box-sizing: border-box;
      width:90%;
  }
.guerrewakanda h2
{
    margin-left: 7px;
    font-size: 16px;
    font-family: 'Beyno';
    color:#9E91B7
}

.forcewakanda h2
{
    
    margin-left: 7px;
    font-size: 16px;
    font-family: 'Beyno';
    color:#9E91B7
}

.forcewakanda p 
{
    width:90%;
    font-size: 12px;
    font-family: 'Cantarell';
    text-align: justify;
    margin: 10px ;
    color:#ffffff;
    box-sizing: border-box;
}
.anecdote h2
{
    margin-left: 7px;
    font-size: 16px;
    font-family: 'Beyno';
    color:#9E91B7
}

.anecdote p 
{
    width:90%;
    font-size: 12px;
    font-family: 'Cantarell';
    text-align: justify;
    margin: 10px ;
    color:#ffffff;
    box-sizing: border-box;
}   

.pantherwakanda2-1
    {
        width: 100%; 
    }  
.lienyoutube
    {
        background: #040286;
        padding: 80px 40px;
        margin: 60px auto;
    }
    .containerwakanda p 
    {
          
        text-align: justify;
        margin: 10px ;
        font-size: 10px;
        box-sizing: border-box;
                 
    }  

/* mise en forme partie enigme*/
.containerenigme h1  {
    font-size: 16px;
    font-family: 'Beyno';
     color: #9E91B7;
     animation: animate 3s;
}
@keyframes animate
    {
        0%{transform: translateX(-200%);}
        100%{transform: translateX(0%);}
    }

.paragenigme p{
    font-size: 12px;
    font-family: 'Cantarell';
    padding: auto;
}






.blackpanthera{
  
    align-items:center;
    display: flex;
    text-align: center;
    justify-content: center;
    background: #1b1c3f;
}

.parag-wakanda
    {
        
        font-size: 10px;
        text-align: justify;
       
    }

span    
    {
        text-decoration: underline;
        font-size: 12px;
        font-family: 'Cantarell';
       
    }

h2
    {
        
        font-size: 12px;
        font-family: 'Beyno';
        color:#9E91B7;
         text-align: left;

    }






/* formulaire sous le pantherhome7*/



.button
    {
        display: flex;
        justify-content: space-between;   
    }
.button button
    {
        font-size: 8px;
        background: #3d2da6;
        padding: 6px;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        
    }
#response p span
    {
        font-weight: bold;
    }

#section3
    {
        text-align: center;
        background-image: url(Assets/Illustration/Pantherhome7.png);
        padding-top: 10%;
        width: 100%;
        background-size: 100%;
        margin-bottom: 5%;
        align-items: center;
        justify-content: center;
        display: flex;
        
    }
#formulaire
    {
    
        background:  linear-gradient(#faf3f3,transparent);
        width: 50%;
        background-size: 100%;
        height: 32%;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 22%;
        color: #000;
        padding: 20px 25px;
        
    }
.input
    {
        width: 200px;
        padding: 5px;
        border-radius: 10px;
        margin: 10px auto;
        border: 1px solid rgb(10, 10, 10);
        background: transparent;
    }
 #formulaire .envoyer
    {
        background: #f2cef2;
        width: 100px;
        color: #000;
        border-radius: 10px;
        padding: 6px;
        border: none;
    
    }

#formulaire .envoyer:hover
{
    Background :radial-gradient(126.67% 350.28% at -21.35% 20%,
#e0a3e6 20%, #f5e3e3 39.1%, rgba(210, 48, 231, 0.838) 94.57%,
rgba(241, 140, 202, 0) 100%);
    width: 100px;
    color: #000;
    border-radius: 10px;
    padding: 6px;
    border: none;
 
}

/* MISE EN FORM DE LA PARTIE ENIGME*/
.containerenigme
    {
        display: flex;
        justify-content: left;
        text-align: center;
        
    }

.pantherenigme1
    {
        width: 90%;
        padding-top: 0px;
    }
    
.paragenigme
    {
       
        text-justify: auto;
        font-size: 8px;
        margin: 20px 30px;
    }
.textagauchepanthenigme1
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
.paragenigme
    {
        width: 300px;
        background-image: url(Assets/Enigme/Pantherenigme2.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 60px;
        background-position: left ;  
    }
.textagauchepanthenigme1 h1
    {
       text-transform: uppercase;
       font-size: 30px;
       width: 60%;
       margin-left: 50px;
       letter-spacing: 2px;
       text-align: justify;
    }
.ligne
    {
        width: 80%;
    }
.section2enigme
    {
        width: 80%;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        margin-bottom: 0%;
        display: flex;
        padding-top: 80px;
        justify-content: center;
        
    }
.citationenigme
    {
        font-family: ;
        margin-top: 50px;
        width: 80%;
    }
.containersection2enigme
    {
       
        padding: 30px 50px;
    }
.partiegame
    {
        display: flex;
      
    }
.partiegame .reponse
    {
        width: 50%;
        padding: 5px;
        border-radius: 10px;
        border: 0.1px solid #ffffff;
        background: transparent;
        display: block;
        color: #ffffff;
    
    }
.partiform
    {
        padding-top: 50px;
    }

.sujet
    {
        width:50%;
        text-align: justify;
        justify-content: space-around;
        font-size: 10px;
    }
.paragaucheenigme
    {
        width: 300px;
        background-image: url(Assets/Enigme/Pantherenigme2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 60px;
        margin-left: -50px;
        font-size: 8px;
        text-align: center;
        margin-top: 40px;
        
    }
    
.partiform .envoyer
    {
        background: #f2cef2;
        width: 90px;
        color: #000;
        border-radius: 10px;
        padding: 5px;
        margin: 50px 45px;
    }
.partiform .envoyer:hover
    {
       Background :radial-gradient(126.67% 350.28% at -21.35% 0%,
        #f099f8 0%, #e7a7a7 39.1%, rgba(241, 178, 238, 0.838) 94.57%,
        rgba(235, 119, 154, 0) 100%) ;
        width: 90px;
        color: #000;
        border-radius: 10px;
        padding: 5px;
        margin: 50px 45px;
        border: none;
    }
        
    
        /* Mise en form de la partie wakanda */



     /*mise en form de la partie wakanda*/






    





/* MISEEN FORM FOOTER*/

.footer{
    
    background-image: url(Assets/Logos/back_footer.png);
    display: flex;
    background-size: 100%;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    margin-left: -150px;
}
.footerimg{
    width: 42%;
    margin-left: 40px;
    
}
.containerfooter{
    width: 60%;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    margin-bottom: 10%;
    display: flex;
    padding-top: 60px;
    justify-content: center;
    
}
.footer2{
    width: 25%;
    position: relative;
    bottom: 90px;
    left: -130px;
}
.logolien, .pages{
    width: 180px;
    margin-left: 2px;
   
}
.lolfooter{
    width: 15%;
    margin-left: 8px;
}
.lolfooter:hover{
    transform: scale(1.08);
    zoom: 10%;
}
h4{
    font-size: 10px;
    letter-spacing: 2px;
}
.footer p, .footer li{
    font-size: 10px;
}
.condition{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    margin-left: -150px;
    flex-direction: row;
    padding-top: 50%;
}
.condition ul,.condition li{
    display: flex;
    flex-direction: row;
    margin-left: 3px;
    font-size: 8px;
}

   
.pages p a{
    color: #ffffff;
    text-decoration: none;
    
}
.pages p a:hover{
    text-decoration: underline;
}
    
.footerimg:hover{
    transform: scale(1.08);}



